<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <script asp-src-include ="~/lib/jquery/dist/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-route="default">Домой<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-route="founders">Учредители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-route="customers">Заказчики</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
