@{ Layout = "_Layout"; }
@{ViewBag.Title = "Главная";}

<div class="col justify-content-center">
    <p class="text-center">Валвенкин Роман <br />
                           Тестовое задание <br />
                           roman.valvenkin@yandex.ru<br />
                            89639257704
    </p>
    <p style="text-indent: 25px">
        Бэкэнд написан на c# ASP.net, за связь с БД отвечает Entity Framework в режиме code first, СУБД-MSSQL Server, 
        строки подключения определены в файле appsettings.json. Использован jquery ajax, как встроенный в asp.net для валидации,
        так и напрямую для подгрузки некотрой информации. В папке с проектом есть файл init.sql представляющий собой SQL запрос
        для заполнение БД начальными данными.
    </p>
    

</div>