@model GenericModelView<Founder>
@{ Layout = "_Layout"; }
@{ViewBag.Title = "Добавить основателя";}

<div class="row justify-content-center">
    <input id="url" value="/customers/customers" type="hidden" />
    <form method="post">
        <div class="form-group">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input id="id" asp-for="Model.FounderID" value="@Model.Model.FounderID " type="hidden" />
            <label for="INN">ИНН</label>
            <input type="text" class="form-control" asp-for="Model.INN" id="INN">
        </div>
        <div class="form-group">
            <label for="FIO">ФИО</label>
            <input type="text" class="form-control" id="FIO" asp-for="Model.FIO">
        </div>
        <div class="form-group">
            <label for="Founders">Основатели</label>
            <select id="founders" class="custom-select" asp-for="BindId">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ок</button>

    </form>

</div>